.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 0.625em 1em;
    background-color: var(--branco)
}

.cabecalho__horario, .cabecalho__horario-desktop {
    font-size: 0.875rem;
}

.cabecalho__icone__bateria {
    margin: 0 1em;
}

@media screen and (min-width: 1728px) {
    .cabecalho {
        display: none;
    }
}
